.Player {
    position: absolute;
    bottom:0;
    left:0;
    width: calc(100% - 8px);
    @include boldBorder;
    display: flex;
    background-color: $elementsBackgroundColor;

    &__div {
        display: flex;
        image-rendering: pixelated;
        &__img {
            min-width: 20px;
            min-height: 20px;
            width: 1vw;
            height: auto;
        }
        &__div{
            display: none;
            position: absolute;
            bottom:0;
            right: 0;
            opacity: 0.7;
            background-color: $backgroundColor;
            @include thinBorder;
            padding: 5px;
            color: #fff;
            z-index: 400;
            font-size: 12px;
            max-width: 200px;
            &__span{
                color: $textColorSpecial
            }
        }
        &__span {
            font-weight: bold;
        }
    }
    &__div:hover &__div__div{
        display: block;
    }

    &__footer {
        position: absolute;
        bottom: calc(100% + 8px);
        left: 0;
        display: flex;
        flex-direction: row;
    }
}