$backgroundColor: #30241C;
$borderColor: #82563A;
$borderColorLight: #FACDB0;
$elementsBackgroundColor: #B17D5C;
$textColor: #000;
$textColorSpecial: #ffcc00;

$dm560: 560px;
$dm660: 660px;
$dm760: 730px;
$dm810: 810px;
$dm1024: 1024px;
$dm1366: 1366px;